@use "@/styles/mixins" as *;

.activity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-top: 2rem;

  .pageHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .backBtn {
      font-size: 12px;
      color: var(--lightgray);
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      button {
        all: unset;
        font-weight: 500;
        &:hover {
          color: var(--accent);

          svg {
            fill: var(--accent);
          }
        }
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 26px;
      }
      .info {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          font-size: 12px;
          color: var(--lightgray);
        }
      }
    }
  }

  .body {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    .row {
        display: flex;
        gap: 1rem;

        .chart {
            @include widget();
            height: 300px;
        }
    }
  }
}