@use "@/styles/breakpoints" as bp;

.browsePlans {
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;

  .plans {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    height: 100%;

    @include bp.mobile {
      grid-template-columns: 1fr;
    }
  }
}
