@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.widget {
  @include widget();
  max-height: 307px;
  @include bp.mobile {
    max-height: none;
  }

  .header {
    @include widgetHeader();

    span {
      color: var(--lightgray);
      font-size: 12px;
    }
  }

  .content {
    .clubs {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      li {
        background-color: var(--bg3);
        padding: 4px 10px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 500;
        color: var(--lightgray);
        border: 1px solid var(--border);
        cursor: pointer;
      }
      .selected {
        color: var(--text);
      }
    }

    .clubDetails {
      margin-top: 1rem;
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 0;
          border-bottom: 1px solid var(--border);
          &:nth-last-child(1) {
            border-bottom: none;
          }

          .metric {
            width: 100%;
            position: relative;
            p {
              font-size: 13px;
              font-weight: 500;
            }

            .valueLabel {
              border-radius: 5px;
              color: var(--lightgray);
              line-height: 21px;
              p {
                font-size: 11px;
                text-transform: uppercase;
              }
            }
          }

          .value {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            p {
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
