@use "@/styles/mixins" as *;

.widget {
  @include widget();

  .header {
    @include widgetHeader();
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    .stat {
        border: 1px solid var(--border);
        padding: 10px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: var(--secondaryBg);
        
        .label {
            font-weight: 600;
            font-size: 18px;
        }

        .value,
        .avgYards {
            font-size: 14px;
            span {
                color: var(--lightgray);
            }
        }

        .avgYards {
            font-size: 14px;
        }
    }
  }
}
