@use "@/styles/mixins.scss" as *;

.widget {
  @include widget();
  height: 307px;

  .header {
    @include widgetHeader();

    span {
      color: var(--lightgray);
      font-size: 12px;
    }
  }

  .clubs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    li {
      background-color: var(--bg3);
      padding: 4px 10px;
      border-radius: 6px;
      font-size: 12px;
      font-weight: 500;
      color: var(--lightgray);
      border: 1px solid var(--border);
      cursor: pointer;
    }
  }

  .missLineContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1.5rem;
    .missLine {
      width: 100%;
      height: 7px;
      background-color: var(--chartBlueLight);
      border-radius: 22px;
      position: relative;
    }
    .labels {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      color: var(--lightgray);
      p {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }

  .stats {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .stat {
      flex: 1;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--messageBg);
      padding: 10px;
      font-size: 12px;
      gap: 5px;
      color: var(--lightgray);
      border: 1px solid var(--border);
      h3 {
        font-size: 18px;
        color: var(--text);
      }
    }
  }

  .message {
    width: 100%;
    border-radius: 6px;
    font-size: 12px;
    line-height: 21px;
    position: relative;
    padding-left: 10px;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 3px;
      height: 100%;
      background-color: var(--chartBlueLight);
      left: 0;
    }
  }

  .emptyMessage {
    width: 100%;
    border-radius: 6px;
    font-size: 12px;
    line-height: 21px;
    position: relative;
    color: var(--lightgray);
    padding-top: 0.75rem;
    text-align: center;
  }
}
