@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.lessonCard {
  border-radius: 16px;
  background-color: var(--bg);
  border: 1px solid var(--border);
  padding: 1rem;
  height: 100%;
  position: relative;
  min-height: 256px;
  max-height: 256px;
  @include bp.mobile {
    width: 100%;
    height: fit-content;
  }
  cursor: pointer;
  &:hover {
    border-color: var(--border);
  }
  .tags {
    @include tags();
    margin-bottom: 1rem;
  }

  .points {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--metricOkayBG);
    color: var(--metricOkayText);
    border: 1px solid var(--metricOkayBorder);
    border-radius: 22px;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      position: relative;
      top: -1px
    }

    @include bp.mobile {
      top: 1rem;
      right: 0.5rem;
      font-size: 12px;
      padding: 4px 10px;
    }
    
  }

  .content {
    flex: 1;
  }

  .lessonName {
    font-weight: 600;
    font-size: 15px;
  }

  .lessonDescription {
    font-size: 13px;
    color: var(--lightgray);
    margin-top: 7px;
    line-height: 21px;
  }

  .notes {
    font-size: 12px;
    color: var(--text);
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    // background-color: var(--messageBg);
    // padding: 10px;
    // border-radius: 6px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 12px;
    color: var(--lightgray);
    border-top: 1px solid var(--border);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    padding-bottom: 2rem;
    
  }
}
