@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.achievementsWidget {
  @include widget();

  .header {
    @include widgetHeader();
    gap: 3px;

    span {
      color: var(--lightgray);
      font-size: 12px;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .badge {
      background-color: var(--messageBg);
      padding: 10px;
      border-radius: 6px;
      max-width: 70px;
      max-width: 70px;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      border: 1px solid var(--border);
      font-size: 10px;

      .icon {
        font-size: 30px;
      }
    }
  }
}
