.button {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items:center;
  gap: 5px;
  &:hover {
    background-color: var(--primary-hover);
  }

  &:active {
    background-color: var(--primary-active);
  }
}

.primary {
  background-color: var(--accent);
  padding: 7px 12px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  &:hover {
    background-color: darken(#2abb7f, 10%);
  }
}

.secondary {
  font-size: 12.5px;
  border-radius: 6px;
  border: 1px solid var(--lightgray);
  &:hover {
    background-color: darken(white, 70%);
  }
}

.upload {
  background-color: #f7d052;
  padding: 7px 12px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  &:hover {
    background-color: darken(#facd39, 10%);
  }
}

.danger {
  background-color: #ef4444;
  color: white;
}

.secondaryDanger {
  background-color: transparent;
  color: #ef4444;
  border: 1.5px solid #fecaca;
}

.lessonCard {
  background-color: transparent;
  color: #16a34a;
  border: 1px solid #16a34a;
  font-size: 12.5px;
  border-radius: 6px;

  &:hover {
    background-color:#16a34a;
    color: var(--bg);
  }
}
