@use "../../styles/mixins" as *;

.profile {
  position: absolute;
  top: calc(286px + 2rem);
  width: 100%;
  @include contentWidth();
  .layout {
    display: flex;
    width: 100%;
    gap: 1rem;
    .column {
      width: 75%;
      height: 500px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &:nth-of-type(2) {
        width: 25%;
      }
    }
  }
}
