.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  input {
    border: 1px solid var(--border);
    border-radius: 6px;
    height: 40px;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: var(--bg);
    color: var(--text);
  }

  input:focus {
    outline: none;
    border-color: var(--accent);
  }

  .error {
    background: var(--dangerBg);
    border: 1px solid var(--dangerBorder);
    color: var(--dangerText);
    padding: 15px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 1rem;
    p {
      font-weight: 500;
    }
  }

  .dropzone {
    border: 1px solid var(--border);
    padding: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightgray);
    font-size: 14px;
    justify-content: center;
    gap: 10px;
    &:focus {
      outline: none;
      border-color: var(--accent);
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 7px;
      .label {
        span {
          color: var(--accent);
          font-weight: 500;
        }
      }

      .description {
        font-size: 12px;
      }
    }
  }

  .fileInfo {
    border: 1px solid red;
    background-color: var(--messageBg);
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 6px;
    position: relative;

    p {
        font-size: 12px;
        color: var(--text);
    }

    .removeFile {
        position: absolute;
        background-color: var(--dangerBg);
        color: var(--dangerText);
        border: 1px solid var(--dangerBorder);
        right: -5px;
        top: -5px;
        width: 15px;
        height: 15px;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
    button {
      width: fit-content;
      margin-left: auto;
      margin-top: 1rem;
      height: 40px;
      flex: 1;
    }
  }
}
