.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  // border: 1px solid var(--border);
  position: relative;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .initials {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--text);
    user-select: none;
  }
}

/* Sizes */
.xsmall {
  width: 20px;
  height: 20px;

  .initials {
    font-size: 10px;
  }
}

.small {
  width: 32px;
  height: 32px;

  .initials {
    font-size: 14px;
  }
}

.medium {
  width: 50px;
  height: 50px;

  .initials {
    font-size: 16px;
  }
}

.large {
  width: 70px;
  height: 70px;

  .initials {
    font-size: 24px;
  }
}
