@use "@/styles/breakpoints" as bp;

@mixin contentWidth {
  max-width: 1440px;
  width: 100%;
  @include bp.mobile {
    max-width: 100vw;
  }
}

@mixin widgetHeader {
  padding-bottom: 0.75rem;
  font-size: 14px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}

@mixin widget {
  flex: 1;
  border: 1px solid var(--border);
  height: fit-content;
  border-radius: 12px;
  padding: 1rem;
  background-color: var(--bg);
  position: relative;
  font-size: 14px;
}

@mixin tags() {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    .tag,
    .beginnerTag,
    .intermediateTag,
    .advancedTag,
    .singleTag,
    .multiTag {
      font-size: 10px;
      background-color: var(--lightPurple);
      border: 1px solid var(--purpleBorder);
      color: var(--purple);
      border-radius: 22px;
      padding: 3px 8px;
      font-weight: 500;
    }
    .beginnerTag {
      background-color: var(--green);
      border: 1px solid var(--greenBorder);
      color: var(--greenText);
    }

    .intermediateTag {
      background-color: var(--lightYellow);
      border: 1px solid var(--yellowBorder);
      color: var(--yellowText);
    }

    .multiTag {
      background-color: var(--lightBlue);
      border: 1px solid var(--blueBorder);
      color: var(--blueText);
    }

    .singleTag {
      background-color: var(--gray);
      border: 1px solid var(--grayBorder);
      color: var(--grayText);
    }
}