@mixin contentWidth {
  width: 1440px;
}

@mixin widgetHeader {
  padding-bottom: 0.75rem;
  font-size: 13px;
  color: var(--lightgray);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin widget {
  flex: 1;
  border: 1px solid var(--border);
  height: fit-content;
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--bg);
  position: relative;
  font-size: 14px;
}
