@mixin contentWidth {
  max-width: 1440px;
  width: 100%;
}

@mixin widgetHeader {
  padding-bottom: 0.75rem;
  font-size: 14px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}

@mixin widget {
  flex: 1;
  border: 1px solid var(--border);
  height: fit-content;
  border-radius: 12px;
  padding: 1rem;
  background-color: var(--bg);
  position: relative;
  font-size: 14px;
}
