* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

// Colors
html.light {
  --bg: #fff;
  --secondaryBg: #f7f7f7;
  --messageBg: #f3f5f9;
  --text: #030712;
  --border: #ebeef4;
  --lightgray: #4a5565;
  --dividerColor: lightgray;
  --accent: #2abb7f;
  --secondaryAccent: #4b3bff;
  --chartRowColor: #f5f7fa;
  --good: #e5f4ea;
  --bad: #ffeceb;
  --neutral: #ebeef4;
  --bg3: #f5f7fa;
  --selectedBg: #e9f1fc;
  --selectedBorder: #0769de;
  --lightBg: #edf1f556;
  --chartGreen: #29ba7e;
  --popupBg: #fff;
  --yellow: #facd39;
  --activeCellBG: #f0f7f3;
  --dangerBg: #fef2f2;
  --dangerBorder: #fecaca;
  --dangerText: #ef4444;
  --chartControlsBG: #ebeef5;
}

html.dark {
  --bg: #161b1f;
  --secondaryBg: #0f1214;
  --messageBg: #232a2f;
  --text: #fff;
  --border: #1e2428;
  --lightgray: #8a9490;
  --dividerColor: #364153;
  --accent: #2abb7f;
  --secondaryAccent: #9b94f1;
  --chartRowColor: #232a2f;
  --good: #194a4f;
  --bad: #452b3c;
  --neutral: #12233d;
  --bg3: #1c222e;
  --selectedBg: #43587b;
  --selectedBorder: #4e9aeb;
  --lightBg: #232a2f;
  --chartGreen: #7fe3b9;
  --popupBg: #0f1214;
  --yellow: #facd39;
  --activeCellBG: #194a4f;
  --dangerBg: #2A1515;
  --dangerBorder: #5C2323;
  --dangerText: #F87171;
  --chartControlsBG: #0f1214;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--secondaryBg);
  display: flex;
  flex-direction: column;
}

.page {
  padding-top: 2rem;
  background-color: var(--secondaryBg);
  color: var(--text);
  height: fit-content;
  min-height: calc(100vh - 65px);

  .page-content {
    width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
  }
}

.ClubBreakdownWidget-module-scss-module__0GQQFW__shotTableContainer
  .ClubBreakdownWidget-module-scss-module__0GQQFW__value {
  all: unset;
  display: flex;
  flex-direction: row !important;
  gap: 3px;
}
