* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

// Colors
html.light {
  --bg: #fff;
  --secondaryBg: #f7f7f7;
  --messageBg: #f3f5f9;
  --text: #030712;
  --border: #ebeef4;
  --lightgray: #4a5565;
  --dividerColor: lightgray;
  --accent: var(--chartBlue);
  --secondaryAccent: #4b3bff;
  --chartRowColor: #f5f7fa;
  --good: #e5f4ea;
  --bad: #ffeceb;
  --neutral: #ebeef4;
  --bg3: #f5f7fa;
  --selectedBg: #e9f1fc;
  --selectedBorder: #0769de;
  --lightBg: #edf1f556;
  --chartGreen: #29ba7e;
  --popupBg: #fff;
  --yellow: #facd39;
  --activeCellBG: #f0f7f3;
  --dangerBg: #fef2f2;
  --dangerBorder: #fecaca;
  --dangerText: #ef4444;
  --chartControlsBG: #ebeef5;
  --lightPurple: #f4f2ff;
  --purple: #7e3eed;
  --purpleBorder: #ddd6fe;

  // green
  --green: #f0fcf4;
  --greenText: #16a34a;
  --greenBorder: #bbf7d0;

  // yellow
  --lightYellow: #fef9c3;
  --yellowText: #ca8a04;
  --yellowBorder: #fde68a;

  // blue
  --lightBlue: #eff6ff;
  --blueText: #2563eb;
  --blueBorder: #bfdbfe;

  // gray
  --gray: #f3f4f6;
  --grayText: #9ca3af;
  --grayBorder: #e5e7eb;

  // chart colors
  --chartBlue: #378bde;
  --chartBlueDark: #195fa6;
  --chartBlueLight: #b5d5f5;

  // swingMetricColors
  --metricBadBG: #fef0f0;
  --metricBadText: #e05252;
  --metricOkayBG: #fef6ea;
  --metricOkayText: #d4921b;
  --metricGoodBG: #edfaf3;
  --metricGoodText: #18a96b;
}

html.dark {
  --bg: #161b1f;
  --secondaryBg: #0f1214;
  --messageBg: #232a2f;
  --text: #fff;
  --border: #1e2428;
  --lightgray: #8a9490;
  --dividerColor: #364153;
  --accent: var(--chartBlue);
  --secondaryAccent: #9b94f1;
  --chartRowColor: #232a2f;
  --good: #194a4f;
  --bad: #452b3c;
  --neutral: #12233d;
  --bg3: #1c222e;
  --selectedBg: #43587b;
  --selectedBorder: #4e9aeb;
  --lightBg: #232a2f;
  --chartGreen: #7fe3b9;
  --popupBg: #0f1214;
  --yellow: #facd39;
  --activeCellBG: #194a4f;
  --dangerBg: #2a1515;
  --dangerBorder: #5c2323;
  --dangerText: #f87171;
  --chartControlsBG: #0f1214;

  --lightPurple: #1e1030;
  --purple: #a78bfa;
  --purpleBorder: #4c1d95;

  // green
  --green: #052e16;
  --greenText: #4ade80;
  --greenBorder: #166534;

  // yellow
  --lightYellow: #1c1a05;
  --yellowText: #facc15;
  --yellowBorder: #854d0e;

  // blue
  --lightBlue: #0f172a;
  --blueText: #60a5fa;
  --blueBorder: #1e3a5f;

  // gray
  --gray: #1f2937;
  --grayText: #6b7280;
  --grayBorder: #374151;

  // chart colors
  --chartBlue: #378bde;
  --chartBlueDark: #195fa6;
  --chartBlueLight: #b5d5f5;

  // swingMetric Colors
  --metricBadBG: #2d1212;
  --metricBadText: #f87171;
  --metricOkayBG: #2d1f08;
  --metricOkayText: #fbbf24;
  --metricGoodBG: #0d2a1a;
  --metricGoodText: #34d399;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--secondaryBg);
  display: flex;
  flex-direction: column;
}

.page {
  background-color: var(--secondaryBg);
  color: var(--text);
  height: fit-content;
  max-width: 100vw;
  overflow-x: hidden;

  .page-content,
  .profile-page-content {
    width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
    min-height: 100vh;
  }

  .profile-page-content {
    min-height: calc(100vh + 62px);
  }
}

.ClubBreakdownWidget-module-scss-module__0GQQFW__shotTableContainer
  .ClubBreakdownWidget-module-scss-module__0GQQFW__value {
  all: unset;
  display: flex;
  flex-direction: row !important;
  gap: 3px;
}

.react-calendar__month-view__weekdays {
  color: var(--lightgray);
  font-weight: 500 !important;
}

.react-calendar__month-view__days,
.react-calendar__tile, 
.react-calendar__month-view__days__day,
.react-calendar__month-view__days__day--weekend {
  color: var(--lightgray) !important;
}


.react-calendar__tile--now {
  background: var(--lightYellow) !important;
  color: var(--yelloText) !important;
  border: 1px solid var(--yellowBorder) !important;
  border-radius: 4px;
}

.react-calendar__tile {
  margin-bottom: 2px !important;
}

