@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.widget {
  @include widget();
  max-height: 332px;
  min-height: 116px;
  .header {
    @include widgetHeader();
    padding-bottom: 0.5rem;
    color: var(--lightgray);
    font-size: 12px;
  }

  .body {
    display: flex;
    align-items: baseline;
    gap: 5px;
    h2 {
      display: flex;
      align-items: baseline;
      gap: 3px;
      font-size: 30px;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      color: var(--lightgray);
    }
  }

  .change,
  .empty {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
    color: var(--accent);
    padding-top: 0.5rem;

    .percent {
      font-weight: 500;
    }
  }

  .empty {
    margin-top: 1rem;
    color: var(--lightgray);
  }
  
  .changeIcon {
    background-color: var(--messageBg);
    border: 1px solid var(--border);
    width: 30px;
    height: 30px;
    border-radius: 6px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .down {
      transform: rotate(180deg);
    }
  }
}
