@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.widget {
  @include widget();
  max-height: 332px;
  min-height: 116px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    @include widgetHeader();
    color: var(--lightgray);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0;
  }

  .body {
    display: flex;
    align-items: baseline;
    h2 {
      display: flex;
      align-items: baseline;
      gap: 3px;
      font-size: 20px;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      color: var(--lightgray);
    }
  }

  .change,
  .empty {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
    color: var(--lightgray);

    .percent {
      font-weight: 500;
    }

    .link {
      // margin-left: auto;
      display: flex;
      align-items: center;
      gap: 3px;
      color: var(--text);
      svg {
        transition: transform 0.2s ease;
      }
      &:hover {
        svg {
          transform: translateX(3px);
          transition: transform 0.2s ease;
        }
      }
    }
  }

  .empty {
    color: var(--lightgray);
  }

  .changeIcon {
    background-color: var(--messageBg);
    border: 1px solid var(--border);
    width: 30px;
    height: 30px;
    border-radius: 6px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .down {
      transform: rotate(180deg);
    }
  }
}
