@use "@/styles/mixins" as *;

.contentTabs {
  border-top: 1px solid var(--border);
  display: flex;
  align-items: center;
  ul {
    display: flex;
    @include contentWidth();
    margin: 0 auto;
    padding: 1rem 2rem;
    position: relative;

    li {
      width: fit-content;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      font-size: 13px;
      color: var(--lightgray);
      cursor: pointer;
      font-weight: 500;
      position: relative;
    }

    li.active {
      color: var(--accent);
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--accent);
        bottom: -16px;
        left: 0;
      }
    }
  }
}
