.sidebar {
  height: 100vh;
  width: 260px;
  padding-top: 3rem;
  .version {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 3px;
      p {
        font-size: 14px;
        font-weight: 600;
      }

      span {
        font-size: 11px;
        color: var(--lightgray);
      }
    }

    .icon {
      background-color: var(--lightBlue);
      color: var(--blueText);
      outline: 1px solid var(--blueBorder);
      border-radius: 6px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    h4 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding-inline: 0.125rem;
      li {
        font-size: 14px;
        cursor: pointer;
        color: var(--lightgray);

        .link {
          height: 28px;
          display: flex;
          align-items: center;

          &:hover {
            color: var(--text);
          }
        }
      }
    }
  }
}
