@use "@/styles/breakpoints" as bp;

.sidebar {
  height: 80vh;
  width: 300px;
  position: sticky;
  top: 2rem;
  padding: 0 1rem;
  @include bp.mobile() {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: column;

    .section {
      padding-bottom: 1rem;
    }

    .sectionLabel {
      all: unset;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      justify-content: space-between;
      cursor: pointer;
    }

    .sectionList {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
    }

    .link {
      font-size: 13px;
      color: var(--lightgray);
      width: 100%;
      display: flex;
      align-items: center;
      height: 30px;
      font-weight: 400;
      padding: 0 5px;
      border-radius: 6px;

      &:hover {
        background: var(--primaryHover);
        color: var(--text);
      }
    }

    .active {
        color: var(--text);
    }
  }
}
