@use "@/styles/breakpoints" as bp;

.overlay,
.overlayDark {
  background-color: rgba(138, 137, 137, 0.342);
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;

  .modal {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: fixed;
    z-index: 9999;
    height: fit-content;
    width: 456px;
    overflow-y: auto;
    border-radius: 12px;
    background-color: var(--bg);
    padding: 1rem;

    @include bp.mobile {
      width: 95%;
    }

    .modalHeader {
      display: flex;
      align-items: center;
      padding: 1rem;
      padding-bottom: 0;
      .title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
          font-size: 18px;
          font-weight: 600;
        }

        .description {
          font-size: 13px;
          color: var(--lightgray);
        }
      }

      .close {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        justify-content: center;
        position: absolute;
        right: 16px;
        top: 16px;

        .iconBg {
          border-radius: 50%;
          width: 34px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.02s ease;
        }

        &:hover {
          .iconBg {
            background-color: var(--primaryHover);
            transition: all 0.02s ease;
            opacity: 1;
          }
        }
      }
    }

    .body {
      padding: 1rem;
    }
  }
}

.overlayDark {
  background-color: rgba(20, 20, 20, 0.5);
}
