@use "@/styles/mixins" as *;

.widget {
  @include widget();

  .header {
    @include widgetHeader();
  }

  .content {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--border);

    .stat {
      padding: 10px 1rem;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: var(--secondaryBg);
      flex: 1;
      border-right: 1px solid var(--border);
      &:nth-last-child(1) {
        border-right: none;
      }
      .label {
        color: var(--lightgray);
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 400;
      }

      .value {
        font-size: 23px;
        font-weight: 600;
        color: var(--text);

        span {
          font-size: 14px;
          color: var(--lightgray);
          font-weight: 400;
        }
      }
    }
  }
}
