@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.navbar {
  height: 62px;
  width: 100%;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  background-color: var(--secondaryBg);
  color: var(--text);
  .navbarContent {
    @include contentWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    @include bp.mobile {
      padding: 0 1rem;
    }
    @include bp.tablet {
      padding: 0 1rem;
    }

    .logo {
      font-size: 22px;
      font-weight: 700;
      width: 100px;
      color: var(--text);
    }
    .navbarActions {
      display: flex;
      align-items: center;
      margin-left: 3rem;
      margin-right: 1rem;
      width: 100%;

      ul {
        display: flex;
        gap: 1rem;
        @include bp.mobile {
          display: none;
        }
        li {
          a {
            color: var(--lightgray);
            text-decoration: none;
            font-size: 13px;

            &:hover {
              color: var(--text);
            }
          }

          .activeNavLink {
            color: var(--text);
          }
        }
      }
    }
    .navbarAuth {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      svg {
        cursor: pointer;
      }

      .themeIcon {
        cursor: pointer;
        @include bp.mobile {
          display: none;
        }
      }

      .uploadBtnContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        &:hover {
          svg {
            stroke: var(--text);
          }
        }
      }

      .notificationContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        &:hover {
          svg {
            fill: var(--text);
          }
        }
      }

      .syncBtnContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          svg {
            fill: var(--text);
          }
        }
      }

      .userAvatar {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 62px;
        padding: 0 10px;
      }
    }
  }
}
