@use "@/styles/mixins" as *;

.widget {
  @include widget();
  padding: 0;

  .content {
    display: flex;
    flex-direction: column;
    .user {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      border-bottom: 1px solid var(--border);
      padding: 1rem;

      img {
        object-fit: cover;
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
      .text {
        display: flex;
        flex-direction: column;

        h3 {
          font-weight: 500;
          font-size: 14px;
        }

        p {
          color: var(--lightgray);
          font-size: 12px;
        }
      }
    }

    .stats {
      display: flex;
      border-bottom: 1px solid var(--border);
      .stat {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid var(--border);
        padding: 12px 0;
        gap: 2px;
        font-size: 22px;
        font-weight: 500;
        color: var(--text);
        span {
          color: var(--lightgray);
          font-size: 11px;
        }
        &:nth-last-child(1) {
          border-right: none;
        }
      }
    }

    .latestRound,
    .empty {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 1rem;
      border-bottom: 1px solid var(--border);

      .title {
        font-size: 12px;
        color: var(--lightgray);
        padding-bottom: 0.5rem;
      }

      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: var(--lightgray);
          font-size: 12px;
        }
      }

      .details {
        font-size: 12px;
        color: var(--lightgray);
      }

      .scores {
        border-top: 1px solid var(--border);
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 12px;
      }

      .link {
        color: var(--accent);
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 12px;
        padding-top: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .empty {
      .message {
        border: 1px dashed var(--border);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: var(--lightgray);
        padding: 1rem;
        border-radius: 6px;
        p {
          width: 65%;
          font-size: 12px;
          text-align: center;
          line-height: 21px;
        }
        button {
            all: unset;
            font-size: 12px;
            color: var(--accent);
            display: flex;
            align-items: center;
            gap: 3px;

        }
      }
    }

    .streak {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      padding: 1rem;
      border-bottom: 1px solid var(--border);
      p {
        color: var(--lightgray);
      }
      .value {
        color: var(--text);
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .links {
      padding: 10px 1rem;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      a {
        color: var(--accent);
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }
}
