.editProfile {
  .pageHeader {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 26px;
      }
      p {
        font-size: 14px;
        color: var(--lightgray);
      }
    }
  }

  .content {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    .column {
        height: 500px;
        width: 15%;
        &:nth-child(2) {
            width: 85%;
        }
    }
  }
}
