@use "@/styles/breakpoints" as bp;

.dashboard {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
   align-items: flex-start;
  @include bp.mobile {
    flex-direction: column;
  }

  // @include bp.smallLaptop {
  //   flex-direction: column;
  // }
  .column {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    order: 1;
    @include bp.mobile {
      width: 100%;
      order: 2;
    }
    // @include bp.smallLaptop {
    //   width: 100%;
    //   order: 2;
    // }
    &:nth-of-type(2) {
      width: 25%;
      order: 2;
      position: sticky;
      top: 2rem;
      @include bp.mobile {
        width: 100%;
        order: 1;
      }

      // @include bp.smallLaptop {
      //   width: 100%;
      //   order: 1;
      // }
    }

    .row {
      display: flex;
      gap: 1rem;
      @include bp.mobile {
        flex-direction: column;
      }
      // @include bp.smallLaptop {
      //   flex-direction: column;
      // }
    }

    .statsRow {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @include bp.mobile {
        position: relative;
        grid-template-columns: 1fr 1fr;
      }

      // @include bp.smallLaptop {
      //   position: relative;
      //   grid-template-columns: 1fr 1fr;
      // }
    }
  }
}
