@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;
.footer {
  height: 65px;
  border-top: 1px solid var(--border);
  background-color: var(--secondaryBg);
  .footerContent {
    @include contentWidth();
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: var(--lightgray);
    justify-content: space-between;
    @include bp.mobile {
      justify-content: center;
    }

    .links {
      ul {
        display: flex;
        gap: 1rem;
        li {
          a {
            color: var(--lightgray);
          }
        }
      }
    }
  }
}
