@use "@/styles/mixins" as *;

.training {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  .pageHeader {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 26px;
      }
      p {
        font-size: 14px;
        color: var(--lightgray);
      }
    }
  }
  .row {
    .sectionName {
      font-size: 14px;
      font-weight: 600;
      margin: 1rem 0;
    }
  }
}
