@use "@/styles/mixins" as *;

.training {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  .pageHeader {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 26px;
      }
      p {
        font-size: 14px;
        color: var(--lightgray);
      }
    }
  }
  .row {
    .sectionName {
      font-size: 14px;
      font-weight: 600;
      margin: 1rem 0;
    }
  }
}

.planBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;

  .tags {
    @include tags();
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  .actions {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    .points {
      color: var(--metricOkayText);
      border: 1px solid var(--metricOkayBorder);
      border-radius: 22px;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    .close {
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      justify-content: center;

      .iconBg {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.02s ease;
      }

      &:hover {
        .iconBg {
          background-color: var(--border);
          transition: all 0.02s ease;
          opacity: 1;
        }
      }
    }
  }
  .title {
    h3 {
      font-weight: 600;
    }
  }
  .description {
    font-size: 14px;
    color: var(--lightgray);
    line-height: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
  }

  .focus,
  .overview,
  .drills {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    h3 {
      font-weight: 500;
      color: var(--lightgray);
      font-size: 12px;
      text-transform: uppercase;
    }
    p {
      font-size: 14px;
      color: var(--text);
      line-height: 21px;
    }

    .drill {
      background-color: var(--bg);
      border: 1px solid var(--border);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      .name {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 10px;
      }
      .order {
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        background-color: var(--bg);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border);
      }

      .drillName {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
      }

      .drillDetails {
        background-color: var(--bg3);
        padding: 10px;
        border-top: 1px solid var(--border);
        p {
          font-size: 14px;
        }
      }
    }
  }
  .drills {
    border-bottom: 1px solid var(--border);
    padding-bottom: 20px;
  }

  .footer {
    font-size: 12px;
    color: var(--lightgray);
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    margin-top: auto;
    .buttons {
      display: flex;
      gap: 10px;
    }
  }
}
