@use '../../styles/mixins' as *;

.profileHeader {
    background-color: var(--bg);
    width: 100%;
    position: absolute;
    left: 0;
    top: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border);

    .headerContent {
        @include contentWidth();
        padding: 2rem 2rem;
    }
}