@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.profileHeader {
  background-color: var(--bg);
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  .headerContent {
    @include contentWidth();
    padding: 2rem 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    @include bp.mobile {
      flex-direction: column;
    }

    .userInfo {
      display: flex;
      align-items: center;
      color: var(--lightgray);
      font-size: 14px;
      gap: 1.5rem;
      
      .text {
        display: flex;
        flex-direction: column;
        .name {
          color: var(--text);
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 7px;
          display: flex;
          align-items: center;
          gap: 10px;
          .handle {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 13px;
            font-weight: 400;
            color: var(--lightgray);
          }
        }
      }
      .avatarContainer {
        width: 70px;
        height: 70px;
        position: relative;
        outline: 4px solid var(--border);
        border-radius: 50%;
        .editAvatarIcon {
          width: 24px;
          height: 24px;
          background-color: var(--bg);
          position: absolute;
          right: 0;
          bottom: 0;
          border-radius: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid var(--border);
        }
      }

      .location {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        p {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      .bio {
        color: var(--lightgray);
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 10px;
        width: 100%;
        line-height: 21px;
      }

      .followers {
        .followersCount {
          margin-left: 10px;
          color: var(--accent);
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: auto;
      @include bp.mobile {
        margin-left: 0;
      }
    }
  }
}
