.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  border: 1px solid var(--border);
  background-color: var(--border);
  align-items: center;
  justify-content: center;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .initials {
    font-size: 28px;
    font-weight: 600;
  }
}

.avatar.small {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;

  .initials {
    font-size: 12px;
  }
}

.avatar.large {
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
}
