.card {
  background-color: var(--bg);
  border-radius: 12px;
  padding: 1.5rem;
  height: fit-content;
  color: var(--text);
  min-width: 300px;

  .cardHeader {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    .cardIcon {
      font-size: 2rem;
    }

    .cardTitle {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  .cardContent {
    margin-bottom: 1.5rem;
    font-size: 14px;
  }

  .cardFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .cardButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 0.5rem;
      height: 35px;

      .stepCount {
        color: var(--lightgray);
        font-size: 12px;
        flex: 1;
        flex-wrap: nowrap;
        text-align: center;
      }

      button {
        flex: 1;
        height: 100%;
      }
    }

    .skip {
      width: 100%;
      display: flex;
      height: 35px;
       button {
        flex: 1;
        height: 100%;
      }
    }

  }
}
