@use "@/styles/mixins" as *;

.statWidget {
  @include widget();
  max-height: 332px;
  min-height: 116px;
  .header {
    @include widgetHeader();
    padding-bottom: 0.5rem;
    color: var(--lightgray);
    font-size: 12px;
  }
  .body {
    display: flex;
    align-items: baseline;
    gap: 5px;
    padding-bottom: 0.5rem;
    h2 {
      display: flex;
      align-items: baseline;
      gap: 3px;
      font-size: 30px;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      color: var(--lightgray);
    }
  }

  .footer {
    font-size: 12px;
  }
}
