@use "@/styles/breakpoints" as bp;

.menu {
  background-color: var(--bg);
  outline: 1px solid var(--border);
  border-radius: 8px;
  position: absolute;
  right: 0px;
  top: 75px;
  width: 220px;
  height: fit-content;
  z-index: 999;
  border-radius: 8px;

  ul {
    font-size: 14px;
    li {
      display: flex;
      font-size: 13px;
      padding: 10px;
      cursor: pointer;
      color: var(--text);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        color: var(--text);
        background-color: #1a1a1a;
      }

      .toggle {
        display: flex;
        border: 1px solid var(--border);
        border-radius: 22px;
        padding: 3px 4px;
        .option {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          &:hover {
            svg {
              stroke: var(--text);
            }
          }
        }
      }
    }

    .links {
      padding: 10px;
    }

    .name {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid var(--border);
      font-size: 13px;
      font-weight: 500;
      gap: 5px;
      padding: 15px 20px;
      cursor: default;
      color: var(--text);

      .handle {
        color: var(--lightgray);
        font-size: 12px;
        font-weight: 400;
      }
    }
    .mobile {
      display: none;
      @include bp.mobile {
        display: flex
      }
    }
  }
}
