@use "@/styles/mixins" as *;
@use "@/styles/breakpoints" as bp;

.widget {
  @include widget();
  padding: 1rem;

  position: relative;
  @include bp.mobile {
    max-height: none;
  }

  .header {
    @include widgetHeader();
    color: var(--text);
    padding-bottom: 0.5rem;
    p {
      display: flex;
      align-items: center;
      gap: 3px;

      svg {
        position: relative;
        top: 1px;
        cursor: pointer;
      }
    }

    span {
      color: var(--lightgray);
      font-size: 12px;
    }
  }

  .content {
    .clubDetails {
      ul {
        li {
          display: flex;
          flex-direction: column;
          padding-top: 10px;
          padding-bottom: 4px;
          border-bottom: 1px solid var(--border);
          gap: 7px;
          &:nth-last-child(1) {
            border-bottom: none;
          }
          .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .metric {
              width: 100%;
              position: relative;
              p {
                font-size: 13px;
                font-weight: 500;
              }

              .valueLabel {
                border-radius: 5px;
                color: var(--lightgray);
                line-height: 21px;
                p {
                  font-size: 11px;
                  text-transform: uppercase;
                }
              }
            }

            .value {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              p {
                font-size: 20px;
                font-weight: 600;
              }
            }
          }

          .labels {
            display: flex;
            font-size: 10px;
            justify-content: space-between;
            color: var(--lightgray);
          }
        }
      }
    }
  }
}
